{% from "macros.j2" import render_social_icons %}

{% block style %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="{{ static_url }}assets/main.css">
<link rel="stylesheet" href="{{ static_url }}assets/font.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="{{ static_url }}font.js"></script>
<script src="{{ static_url }}index.js"></script>
{% endblock %}

{% block body %}
<div class="snap-container">
{% block landing %}
  <section class="section landing">
    {% set subject = site %}
    {% set type = 'site' %}
    {% include "./_side.j2" %}
    <div class="site-links">
      {% if site.primary_links %}
        <nav class="site-nav">
          <ul>
          {% for nav in site.primary_links %}
            <li><a href="{{ nav.url }}" {% if nav.blank %} target="_blank"{% endif %}>{{ nav.title }}</a></li>
          {% endfor %}
          </ul>
        </nav>
      {% endif %}
      {% if site.podcast %}
        <ul class="site-podcast">
          <li><a href="{{ linkify('/feed/audio.xml') }}" aria-label="RSS"><i class="icon icon-feed" aria-hidden="true"></i></a></li>
          {% for item in site.podcast.links %}
            <li>
              <a href="{{ linkify(item.url) }}"{% if item.blank %} target="_blank"{% endif %}><i class="icon icon-{{ item.icon }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if site.socials %}
        <div class="site-social">
        {% if site.podcast and site.podcast.email %}
          {{ render_social_icons(site, site.podcast.email) }}
        {% else %}
          {{ render_social_icons(site) }}
        {% endif %}
        </div>
      {% endif %}
      <div class="site-search">
        <a href="#" class="js-search"
          {% if features.algolia %}data-id="{{ site.algolia_id }}" data-key="{{ site.algolia_key }}"{% endif %}>
          <i class="icon icon-search" aria-label="Search"></i>
        </a>
      </div>
        <div class="site-subscribe">
          <button class="js-subscribe">Subscribe</button>
        </div>
    </div>
  </section>
{% endblock %}
  <section class="section featured" id="featured-posts">
    <div class="featured-inner">
      <div class="featured-slider">
        {% for item in query.latest_subjects(count=5, contains=['authors', 'tags']) %}
          <div class="hero-wrap">
            {% if item.cover %}
              {% set layout = "horizontal" if item.cover.width > item.cover.height else "vertical" %}
              <div class="hero {{ layout }}">
            {% else %}
              <div class="hero">
            {% endif %}
            {% if item.cover %}
              <div class="hero-cover" style="background-image:url({{ item.cover.src|thumbnail('l') }})" aria-label="{{ item.title }}">
              </div>
            {% endif %}
            <div class="hero-info">
              {% if item.tags %}
                <div class="hero-tags">
                {% for tag in item.tags %}
                  <a href="{{ linkify(tag.url) }}">{{ tag.title }}</a>
                {% endfor %}
                </div>
              {% endif %}
              <div class="hero-headline">
                <div class="hero-headline__inner">
                  <h2><a href="{{ linkify(item.url) }}">{{ item.title }}</a></h2>
                  {% if item.subtitle %}
                    <h3>{{ item.subtitle }}</h3>
                  {% endif %}
                </div>
              </div>
              <div class="hero-meta">
              {% if item.authors %}
                <div class="hero-authors">
                  {% for author in item.authors %}
                    <a href="{{ linkify(author.url) }}">{{ author.name }}</a>
                  {% endfor %}
                </div>
              {% endif %}
                <time class="hero-time" datetime="{{ item.published_at|xmldatetime }}" itemprop="datePublished">{{ item.published_at.strftime('%b %d, %Y') }}</time>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <nav class="featured-nav">
      <button id="prev" type="button" aria-label="view previous post" title="view previous post"><i class="icon icon-chevron_left"></i></button>
      <button id="next" type="button" aria-label="view next post" title="view next post"><i class="icon icon-chevron_right"></i></button>
    </nav>
  </section>
  <section class="section extra" id="extra-posts">
    {% set subject = site %}
    {% include "./_side.j2" %}
    <div class="subject-list">
      {% set items = query.latest_subjects(count=5) %}
      {% include "./_list.j2" %}
      <nav class="subject-list_nav">
        <a href="{{ linkify(site.posts_url) }}"><span>more</span><i class="icon icon-chevron_right"></i></a>
      </nav>
    </div>
  </section>
</div>
{% endblock %}


