{% block style %}
<link rel="stylesheet" href="{{ static_url }}assets/aoyama.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
<script src="{{ static_url }}assets/mode.js"></script>
<!--
  *********
  Theme: Aoyama(https://github.com/jessuni/typlog-aoyama)
  Author: Jessie Ji (https://jessieji.com)
  This theme is dedicated to Typlog (https://typlog.com) and is hereby licensed to Typlog only.
  *********
-->
{% endblock %}

{% block body %}
{% set subject = page.topic %}
{% set type = page.type %}
<div class="main">
  {% include "./_partials/side.j2" %}
  <div class="subject-list">
    {% set items = page.items %}
    {% include "./_partials/list.j2" %}
    {% if page.next_url or page.prev_url %}
      <nav class="subject-list_nav">
        {% if page.next_url %}
        <a class="nav_prev" href="{{ linkify(page.next_url) }}"><span></span><i class="icon icon-chevron-left"></i>newer posts</a>
        {% endif %}
        {% if page.prev_url %}
        <a class="nav_next" href="{{ linkify(page.prev_url) }}"><span>older posts</span><i class="icon icon-chevron-right"></i></a>
        {% endif %}
      </nav>
    {% endif %}
  </div>
</div>
{% endblock %}
