<ul>
{% for item in items %}
  <li class="subject-item">
  {% set image = item.cover or item.image %}
  {% if image %}
    <img class="subject-item_cover" src="{{ image.src or image|thumbnail('sm') }}" alt="{{ item.title }}"/>
  {% endif %}
    <div class="subject-item_main">
      <h3 class="subject-item_title"><a href="{{ linkify(item.url) }}">{{ item.title }}</a></h3>
      {% if item.subtitle %}
        <h4 class="subject-item_subtitle">{{ item.subtitle }}</h4>
      {% endif %}
      <div class="subject-item_meta">
        <time datetime="{{ item.published_at|xmldatetime }}" itemprop="datePublished">{{ item.published_at.strftime('%b %d, %Y') }}</time>
        {% if item.duration %}
          <span class="subject-item_audio">
            <span class="subject-item_duration">{{ item.duration }}</span>
            {% if item.season and item.espisode %}
              <span class="subject-item_serial">S{{ item.season }}E{{ item.episode }}</span>
            {% endif %}
          </span>
        {% endif %}
      </div>
    </div>
  </li>
{% endfor %}
</ul>
