<header class="side-subject">
  <div class="subject-info">
    {% if type == 'site' %}
      <a href="{{ linkify('/') }}">
    {% endif %}
    {% set cover = None %}
    {% if type == 'author' and subject.avatar %}
      {% set cover = subject.avatar %}
    {# for site #}
    {% elif subject.logo %}
      {% set cover = subject.logo.src %}
    {# for podcast #}
    {% elif subject.image %}
      {% set cover = subject.image %}
    {# for post #}
    {% elif subject.cover %}
      {% set cover = subject.cover.src %}
    {% endif %}
    {% if cover %}
      <img class="avatar" src="{{ cover|thumbnail('ss') }}" alt="{{ subject.title or subject.name }} logo">
    {% endif %}
    <h1 class="subject-name">{{ subject.title or subject.name }}</h1>
    {% if type == 'site' %}
      </a>
    {% endif %}
    {% if subject.metadata %}
      <ul>
        {% for key, value in subject.metadata.items() %}
          <li><a href="{{ value }}" target="_blank"><i class="icon icon-{{ key }}"></i></a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% set summary = subject.summary or subject.bio_html %}
    {% if summary %}
      <h2 class="subject-description">{{ summary | safe }}</h2>
    {% endif %}
  </div>
{% if type == 'tag' or type == 'author' or type == 'site' %}
  <div class="side-mark">
    <a href="{{ linkify('/') }}">
    {% if site.logo %}
      <img class="avatar" src="{{ site.logo.src|thumbnail('ss') }}" alt="{{ site.name }} logo" />
    {% endif %}
    {{ site.name }}
    </a>
  </div>
{% endif %}
</header>
