:root,
.light-theme {
  color-scheme: light;
  --aomori-invert-rgb: 0, 0, 0;
  --aomori-bg-rgb: 255, 255, 255;

  --aomori-primary-color: rgba(var(--aomori-invert-rgb), 0.8);
  --aomori-secondary-color: rgba(var(--aomori-invert-rgb), 0.6);
  --aomori-meta-color: rgba(var(--aomori-invert-rgb), 0.33);
  --aomori-text-color: rgba(var(--aomori-invert-rgb), 0.72);
  --aomori-bg: rgb(var(--aomori-bg-rgb));

  --aomori-padding-md: 100px;
  --aomori-padding-sm: 2em;
  --aomori-full-height: 100vh;

  --en-sans: "Ubuntu";
  --sys-sans: -apple-system, BlinkMacSystemFont, Segoe UI,"Helvetica Neue", Arial;
  --cjk-sans: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
  --sys-serif: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro";
  --cjk-serif: "STSong", "STFangsong", "STHeiti", "STKaiti", "STLiti", "STXingkai", "STXinwei", "STFangsong", "STHeiti", "STLiti", "STXingkai", "STXinwei";

  --tc-c-divider: rgba(var(--aomori-invert-rgb), 0.1);
  --tc-c-border: var(--aomori-meta-color);
  --tc-c-reply: var(--aomori-bg);
  --tc-c-reply-bg: var(--primary-color-hex);
  --tc-br-reply: 0px;
  --tc-c-link: var(--primary-color-hex);
  --tc-c-link-hover: var(--aomori-secondary-color);
  --tc-c-primary: var(--primary-color-hex);
  --tc-f-input: var(--en-sans), var(--cjk-sans), var(--sys-sans);
  --tc-f-reply: var(--en-sans), var(--cjk-sans), var(--sys-sans);
  --tc-pe-content: none;

}
.dark-theme {
  color-scheme: dark;
  --aomori-invert-rgb: 255, 255, 255;
  --aomori-bg-rgb: 0, 0, 0;
  --aomori-bg: #28232f;
}

body {
  padding: 0;
  margin: 0;
  font: 400 16px/1.36 var(--en-sans), var(--cjk-sans), var(--sys-sans), sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background: var(--aomori-bg);
  color: var(--aomori-text-color);
  transition: background linear 0.3s;
}
::selection {
  background: rgba(var(--primary-color-rgb),0.2);
}
.dark-theme .hero-cover,
.dark-theme .entry-cover,
.dark-theme img {
  filter: brightness(0.9);
}

